.table--heroes {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  border: none;
}

.form--heroes__search {
  display: grid;
  margin-bottom: 3rem;
}

.form--heroes__search__input-btn {
  width: 100%;
  position: relative;
  display: flex;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background-color: #fff;
}

.form--heroes__search__input-btn input {
  width: 100%;
  border: none;
}

.form--heroes__search label {
  font-weight: 700;
  font-size: clamp(1.3rem, 1.5vh, 4rem);
}

.form--heroes__search button {
  width: 1.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;

  background-color: transparent;
  border: none;
}

.table--heroes tbody tr td:nth-child(1) div {
  width: fit-content;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.table--heroes thead tr th:nth-child(3),
.table--heroes thead tr th:nth-child(2),
.table--heroes tbody tr td:nth-child(2),
.table--heroes tbody tr td:nth-child(3)
{
  display: none;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .form--heroes__search__input-btn {
    width: fit-content;
    max-width: 20%;
    min-width: 400px;
  }

  .table--heroes thead tr th:nth-child(2),
  .table--heroes thead tr th:nth-child(3),
  .table--heroes tbody tr td:nth-child(1),
  .table--heroes tbody tr td:nth-child(2),
  .table--heroes tbody tr td:nth-child(3) {
    display: table-cell;
  }
}